<div class="card flex justify-content-center">

    <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '400px' }">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <label for="mail">mail</label>
            <br>
            <input id="mail" type="text" pInputText formControlName="mail" />
            <br>
            <label for="password">Password</label>
            <br>
            <input id="password" type="text" pInputText formControlName="password" />

        </form>
        <ng-template pTemplate="footer">
            <div class="flex gap-3 mt-1">
                <p-button label="Submit" type="submit" [disabled]="!loginForm.valid"
                    styleClass="w-full" />
            </div>
        </ng-template>

    </p-card>
</div>
